.header-bg {
  background-color: #000;
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu a {
  color: #fff;
  padding: 16px 0px;
  font-size: 18px;
  display: inline-block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0%;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 800px) {
  .header-menu a {
    background: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: #2a2a2a;
  }

  .header-menu {
    gap: 20px;
  }

  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
