@import url(./global/global.css);
@import url(./utilidades/tipografia.css);
@import url(./utilidades/cores.css);

@import url(./global/header.css);
@import url(./global/footer.css);

/* Home */
@import url(./home/introducao.css);
@import url(./home/tecnologia.css);
@import url(./home/parceiros.css);
@import url(./home/depoimento.css);

/* Utilidades */
@import url(./utilidades/componentes.css);
@import url(./utilidades/formulario.css);

/* Bicicletas */
@import url(./bicicletas/bicicletas-lista.css);
@import url(./bicicletas/bicicletas.css);
@import url(./bicicleta/seguro.css);

/* Bicicleta */
@import url(./bicicleta/bicicleta.css);

/* Seguros */
@import url(./seguros/seguros.css);
@import url(./seguros/perguntas.css);
@import url(./seguros/vantagens.css);

/* Termos */
@import url(./termos/termos.css);

/* Contato */
@import url(./contato/contato.css);
@import url(./contato/lojas.css);
