body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-11);
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}