.bicicleta{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#nimbus .titulo p{
  text-transform: uppercase;
}

.bicicleta-imagens{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imagens img{
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens :first-child{
  min-width: 100%;
}

.bicicleta-conteudo2 > p{
  margin-bottom: 30px;
}

.bicicleta-comprar{
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bicicleta-comprar a{
  grid-row: span 2;
}

.bicicleta-comprar span{
  display: flex;
  align-items: center;
  background-color: var(--cor-12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}


.bicicleta-conteudo2 h2{
  margin-bottom: 12px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}


.bicicleta-informacoes,
.bicicleta-ficha{
  background-color: var(--cor-12);
  border-radius: 4px;
  padding: 32px;
}


.bicicleta-informacoes{
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bicicleta-informacoes img{
  width: 24px;
}

.bicicleta-informacoes img, h3{
  margin-bottom: 8px;
}

.bicicleta-ficha li{
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-11);
}

.bicicleta-ficha li:last-child{
  border-bottom: none;
}

.bicicleta-ficha span{
  color: var(--cor-6);
}

@media(max-width: 800px){
  .bicicleta{
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
 
  .bicicleta-imagens{
    grid-row: 2;
  }
}

@media(max-width: 400px){
  .bicicleta-informacoes{
   grid-template-columns: 1fr;
  }

  .bicicleta-comprar{
    grid-template-columns: 1fr;
   }
}






