.tecnologia-bg{
  background: var(--cor-11) url('../../img/dec/bottom-left.svg') no-repeat bottom 160px left 20px;
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia{
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 40px;
}

.tecnologia-imagem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo{
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecnologia-conteudo > span{
  display: block;
  margin-bottom: 20px;
}

.tecnologia-conteudo h2{
  margin-bottom: 32px;
}

.tecnologia-conteudo > p{
  margin-bottom: 32px;
}

.tecnologia a{
  margin-bottom: 80px;
}

.tecnologia-vantagens{
  display: flex;
  gap: 40px;
}

.tecnologia-vantagens h3{
  margin-bottom: 8px;
  width: max-content;
}

.tecnologia-vantagens img{
  margin-bottom: 8px;
  width: 24px;
}

@media (max-width: 800px){
  .tecnologia{
    grid-template-columns: 1fr;
  }

  .tecnologia-conteudo{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .tecnologia-bg{
    box-shadow: initial;
  }

  .tecnologia-imagem{
    display: none;
  }

  .tecnologia a{
    margin-bottom: 60px;
  }
}

@media (max-width: 600px){
  .tecnologia-vantagens{
    flex-direction: column;
  }
}
